@import url('components.css');

body{
   background-color: var(--black);
}

.home-bg{
   background: url(../images/home-bg.png) no-repeat;
   background-size: cover;
   background-position: center;
}

.home-bg .home{
   display: flex;
   align-items: center;
   min-height: 60vh;
}

.home-bg .home .content{
   width: 50rem;
}

.home-bg .home .content span{
   color:var(--white);
   font-size: 3rem;
}

.home-bg .home .content h3{
   font-size: 4rem;
   text-transform: uppercase;
   margin-top: 1.5rem;
   color:var(--white);
}

.home-bg .home .content p{
   font-size: 1.6rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--white);
}

.home-bg .home .content a{
   display: inline-block;
   width: auto;
}
.home-category h1{
   color: var(--white);
}
.home-category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.home-category .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--grey);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.home-category .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.home-category .box-container .box h3{
   text-transform: uppercase;
   color:var(--black);
   padding:1rem 0;
   font-size: 2rem;
}

.home-category .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:.5rem 0;
}

.home-category{
   padding-bottom: 0;
}

.movies h1{
   color: var(--white);
}

.movies .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.movies .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--grey);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.movies .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.movies .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.about .row{
   display: flex;
   flex-wrap: wrap;
   gap:3rem;
   align-items: center;
}

.about .row .box{
   flex:1 1 40rem;
   text-align: center;
}

.about .row .box img{
   margin-bottom: 2rem;
   height: 40rem;
}

.about .row .box h3{
   padding:1rem 0;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--white);
}

.about .row .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-bg);
   padding:1rem 0;
}

.about .row .box .btn{
   display: inline-block;
   width: auto;
}


.contact .title{
   color: var(--white);
} 
.contact form{
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--grey);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding-top: 1rem;
}

.contact form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--grey);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 15rem;
   resize: none;
}

.search-form form{
   display: flex;
   gap:1.5rem;
   align-items: center;
}

.search-form form .box{
   width: 100%;
   padding:1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--grey);
   box-shadow: var(--box-shadow);
   font-size: 2rem;
   color:var(--black);
   border-radius: .5rem;
}

.search-form form .btn{
   display: inline-block;
   width: auto;
   margin-top: 0;
}



@media (max-width:768px){

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
      text-align: center;
   }

}

@media (max-width:450px){

   .home-category .box-container{
      grid-template-columns: 1fr;
   }

   .movies .box-container{
      grid-template-columns: 1fr;
   }

   .quick-view .box img{
      height: auto;
      width: 100%;
   }

   .about .row .box img{
     width: 100%;
      height: auto;
   }   
}